.header-color {
  background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3b4371,
    #f3904f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3b4371,
    #f3904f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-style {
  width: "75em";
  margin: "auto";
  margin-top: "50px";
}

span {
  font-size: 18px;
  font-family: "Tahoma";
  line-height: 30px;
  text-align: center;
}

ul {
  font-size: 18px;
  font-family: "Tahoma";
  line-height: 30px;
}
